<div id="content">
<h3>New Product</h3>
<form class="form" action="?view=addProduct" method="post" enctype='multipart/form-data'>
    <p class="name"><label for="name">Name</label><input type="text" name="name"></p>
    <p class="description"><label for="description">Description </label><input type="text" name="description"></p>
    <p class="price"><label for="price">Price </label><input type="number" name="price"></p>    
    <p class="img"><label for="img">Image </label><input type="file" name="img"></p>
    <p class="submit"><input type="submit" value="Add"></p>
</form>
</div>
