<div id="content">    
    <?php foreach($productos as $producto){?>            
            <?php
            if(isset($_SESSION['user'])){
                $user = $_SESSION['user'];
                $user = unserialize($user);
                if($user->getType()=='admin') { ?>
                    <form class="formdel" method="post" action="?view=deleteProduct">
                    <a href="#" class="righty deletePro" title="delete">X</a>
                    
                <?php }
            }?>
            
              
              <h3><?php echo $producto->getName();?> - $ <?php echo number_format($producto->getPrice(),2);?> </h3>
              <img src="<?php echo $producto->getImgPath(); ?>" height="200">
              <p><?php echo $producto->getDescription();?></p>

              <a href="ViewPHP.php?view=imagen&id=<?php echo $producto->getId();?>" class='contentA'>See image detail</a> |
              <a href="ViewPHP.php?view=agregar&id=<?php echo $producto->getId();?>" class='contentA'>Add to CART</a>              
              <input type="hidden" name="id" value="<?php echo $producto->getId();?>">              
              </form>
            <div class="barBottomContent"></div>
    <?php }?>

</div>
