<div id='content'>    
    <div id="registroContent">
        <div id="leftRegistroContent">
        <h3>SIGN UP</h3>
        <p>Already have an account? <a href="?view=login">Log In !</a></p>
        </div>
        <div id="rightRegistroContent">
        <form method="post" action="?view=register">
        <fieldset>
        <p><label for='username'>Username*:</label><input type="text" name='username'></p>
        <p><label for='pwd'>Password*:</label><input type="text" name='pwd'></p>
        <p><label for='pwd2'>Password (Again)*:</label><input type="text" name='pwd2'></p>
        <p><label for='email'>Email*: </label><input type="text" name='email'></p>
        <button>Sign Up &raquo;</button>
        </fieldset>
        </form>        
        </div>
    </div>  
</div>
